# Flutter frontend
flutterfrontend/.dart_tool/
flutterfrontend/.packages
flutterfrontend/.pub/
flutterfrontend/build/
flutterfrontend/ios/Flutter/.last_build_id
flutterfrontend/.idea/
flutterfrontend/.vscode/
flutterfrontend/assets/.env

# Node.js backend
backend/node_modules/
backend/.env
backend/.DS_Store
backend/coverage/
backend/npm-debug.log*

# General
*.log
*.tmp
.env
